<html>
    <head>
        <title>Kokeboka</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kokeboka</a></h1>
            <h2>En hjelper for de matglade</h2>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>Published: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {{ post }}
        {%  endfor %}

    </body>
</html>

<html>

